# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
release
!scripts/release/
scripts/release/*
!scripts/release/*.mjs
!scripts/release/*.cjs
scripts/release/.env
scripts/release/.env.*
scripts/release/**/*.pem
scripts/release/**/*.key
scripts/release/**/*.p12
scripts/release/**/*.pfx
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
